<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">ClashAPI Pre-alpha</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" [ngClass]="{'show': !isCollapsed}">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown" dropdown>
            <a class="nav-link nav-link-ltr dropdown-toggle" dropdownToggle i18n>
              Lekérdezés
            </a>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item" [routerLink]="['/query/player']" (click)="isCollapsed = !isCollapsed" i18n><i class="fa fa-gamepad mr-2"></i> Játékos</a>
              <a class="dropdown-item" [routerLink]="['/query/clan']" (click)="isCollapsed = !isCollapsed" i18n><i class="fa fa-shield-alt mr-2"></i> Klán</a>
            </div>
          </li>
          <li class="nav-item dropdown" dropdown>
            <a class="nav-link nav-link-ltr dropdown-toggle" dropdownToggle i18n>
              Toplista
            </a>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item" (click)="isCollapsed = !isCollapsed" i18n><i class="fa fa-gamepad mr-2"></i> Játékosok</a>
              <a class="dropdown-item" (click)="isCollapsed = !isCollapsed" i18n><i class="fa fa-shield-alt mr-2"></i> Klánok</a>
            </div>
          </li>
          <li class="nav-item dropdown" dropdown>
            <a class="nav-link nav-link-ltr dropdown-toggle" dropdownToggle i18n>
              Közösség
            </a>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item discord" target="_blank" rel="noopener noreferrer"
                 href="https://discord.gg/YNjbj36" (click)="isCollapsed = !isCollapsed"><i class="fab fa-discord mr-2"></i> Discord</a>
              <a class="dropdown-item twitter" target="_blank" rel="noopener noreferrer"
                 href="https://twitter.com/ClashAPI" (click)="isCollapsed = !isCollapsed"><i class="fab fa-twitter mr-2"></i> Twitter</a>
            </div>
          </li>
          <li class="nav-item dropdown" dropdown>
            <a class="nav-link nav-link-ltr dropdown-toggle" dropdownToggle i18n>
              Oldalak
            </a>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item atlassian" target="_blank" rel="noopener noreferrer"
                 href="https://clashapi.atlassian.net/" (click)="isCollapsed = !isCollapsed" i18n><i class="fab fa-atlassian mr-2"></i> Atlassian Cloud</a>
              <a class="dropdown-item sentry" target="_blank" rel="noopener noreferrer"
                 href="https://sentry.io/organizations/clashapi" (click)="isCollapsed = !isCollapsed" i18n><i class="fa fa-bug mr-2"></i> Sentry SaaS</a>
              <a class="dropdown-item" target="_blank" rel="noopener noreferrer"
                 href="https://github.com/ClashAPI/ClashAPI" (click)="isCollapsed = !isCollapsed" i18n><i class="fab fa-github mr-2"></i> GitHub Repo</a>
              <a class="dropdown-item" target="_blank" rel="noopener noreferrer"
                 href="https://www.goraczroland.dev" (click)="isCollapsed = !isCollapsed" i18n><i class="fa fa-blog mr-2"></i> Fejlesztői blog</a>
            </div>
          </li>
          <li class="nav-item d-none d-xl-block">
            <a class="nav-link nav-link-ltr" href="https://clashapi.atlassian.net/servicedesk/customer/portal/2" i18n>Segítség</a>
          </li>
          <li class="nav-item sponsors d-none d-xl-block">
            <a class="nav-link nav-link-ltr" href="https://www.goraczroland.dev/web/site/tamogatok" i18n>Szponzorok</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="!loggedIn()">
            <a class="nav-link nav-link-ltr" [routerLink]="['/register']" routerLinkActive="active" i18n>Regisztráció</a>
          </li>
          <li class="nav-item" *ngIf="!loggedIn()">
            <a class="nav-link nav-link-ltr" [routerLink]="['/login']" routerLinkActive="active" i18n>Bejelentkezés</a>
          </li>
          <li class="nav-item dropdown" dropdown *ngIf="loggedIn()">
            <a class="nav-link nav-link-ltr dropdown-toggle text-primary" dropdownToggle *appHasRole="['Fejlesztő']">
              Admin
            </a>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item disabled" disabled [routerLink]="['/admin']" (click)="isCollapsed = !isCollapsed" i18n><i class="fa fa-sitemap mr-2"></i> Irányítópult</a>
              <a class="dropdown-item" [routerLink]="['/admin/announcements']" (click)="isCollapsed = !isCollapsed" i18n><i class="fa fa-bullhorn mr-2"></i> Közlemények</a>
              <a class="dropdown-item" [routerLink]="['/admin/posts']" (click)="isCollapsed = !isCollapsed" i18n><i class="fa fa-copy mr-2"></i> Cikkek</a>
              <a class="dropdown-item" [routerLink]="['/admin/users']" (click)="isCollapsed = !isCollapsed" i18n><i class="fa fa-users mr-2"></i> Felhasználók</a>
              <a class="dropdown-item" [routerLink]="['/admin/accounts']" (click)="isCollapsed = !isCollapsed" i18n><i class="fa fa-id-card-alt mr-2"></i> CR fiókok</a>
            </div>
          </li>
          <li class="nav-item dropdown" dropdown *ngIf="loggedIn()">
            <a class="nav-link nav-link-ltr dropdown-toggle" [ngClass]="staffRoles.includes(authService.decodedToken?.role) ? 'text-danger' : ''" dropdownToggle>
              {{authService.decodedToken?.unique_name}}
              <ng-container *ngIf="authService.decodedToken?.role">
                ({{authService.decodedToken?.role}})
              </ng-container>
            </a>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item" [routerLink]="['/profile']" (click)="isCollapsed = !isCollapsed" i18n><i class="fa fa-user mr-2"></i> Profil</a>
              <a class="dropdown-item" [routerLink]="['/accounts']" (click)="isCollapsed = !isCollapsed" i18n><i class="fa fa-trophy mr-2"></i> CR profil</a>
              <a class="dropdown-item" [routerLink]="['/follows']" (click)="isCollapsed = !isCollapsed" i18n><i class="fa fa-heart mr-2"></i> Követések</a>
              <a class="dropdown-item sign-out" (click)="logout()" style="cursor: pointer;" i18n><i class="fa fa-sign-out-alt mr-2"></i> Kijelentkezés</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
