<ngx-ui-loader *ngIf="isLoading"></ngx-ui-loader>
<app-announcements></app-announcements>
<div class="container">
  <div class="row justify-content-center bg-white p-3">
    <div class="col-md-8">
      <div>
        <h5 class="mb-3">Bejelentkezés helyi fiókkal</h5>
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="form-group">
            <input #username="ngModel" required type="text" class="form-control" id="username" name="username" placeholder="Felhasználónév" [(ngModel)]="model.username">
            <span class="text-danger" *ngIf="username.touched && username.value.trim().value < 1">
              A felhasználónév megadása kötelező
            </span>
          </div>
          <div class="form-group">
            <input #password="ngModel" required type="password" class="form-control" id="password" name="password" placeholder="Jelszó" minlength="6" [(ngModel)]="model.password">
            <span class="text-danger" *ngIf="password.touched && password.value.length < 6">
              A jelszónak legalább 6 karakter hosszúságúnak kell lennie
            </span>
          </div>
          <div class="row">
            <div class="col-md-8">
              <button class="btn btn-success btn-block" [disabled]="!loginForm.valid" type="submit"><i class="fas fa-sign-in-alt mr-2"></i> Bejelentkezés</button>
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary btn-block mt-2 mt-md-0" [routerLink]="['/register']"><i class="fas fa-user-plus mr-2"></i> Regisztráció</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <h5 class="text-right mb-3 mt-3 mt-md-0">Bejelentkezés külső fiókkal</h5>
        <button class="btn btn-block text-white" disabled style="background-color: #4267B2;"><i class="fab fa-facebook-f mr-2"></i> Facebook</button>
        <button class="btn btn-block text-white" disabled style="background-color: #1DA1F2;"><i class="fab fa-twitter mr-2"></i> Twitter</button>
        <button class="btn btn-block text-white" disabled style="background-color: #7289da;"><i class="fab fa-discord mr-2"></i> Discord</button>
      </div>
    </div>
  </div>
</div>
