<ng-container *ngIf="player != null">
  <section [ngSwitch]="player.arena?.id">
    <img src="assets/arenas/arena0.png" alt="" [class]="class" *ngSwitchCase="0" [style.width]="width">
    <img src="assets/arenas/arena1.png" alt="" [class]="class" *ngSwitchCase="5400000" [style.width]="width">
    <img src="assets/arenas/arena2.png" alt="" [class]="class" *ngSwitchCase="5400001" [style.width]="width">
    <img src="assets/arenas/arena3.png" alt="" [class]="class" *ngSwitchCase="5400002" [style.width]="width">
    <img src="assets/arenas/arena4.png" alt="" [class]="class" *ngSwitchCase="5400003" [style.width]="width">
    <img src="assets/arenas/arena5.png" alt="" [class]="class" *ngSwitchCase="5400004" [style.width]="width">
    <img src="assets/arenas/arena6.png" alt="" [class]="class" *ngSwitchCase="5400005" [style.width]="width">
    <img src="assets/arenas/arena7.png" alt="" [class]="class" *ngSwitchCase="5400006" [style.width]="width">
    <img src="assets/arenas/arena8.png" alt="" [class]="class" *ngSwitchCase="5400007" [style.width]="width">
    <img src="assets/arenas/arena9.png" alt="" [class]="class" *ngSwitchCase="5400008" [style.width]="width">
    <img src="assets/arenas/arena10.png" alt="" [class]="class" *ngSwitchCase="5400009" [style.width]="width">
    <img src="assets/arenas/arena11.png" alt="" [class]="class" *ngSwitchCase="54000010" [style.width]="width">
    <img src="assets/arenas/arena12.png" alt="" [class]="class" *ngSwitchCase="54000011" [style.width]="width">
    <img src="assets/arenas/arena13.png" alt="" [class]="class" *ngSwitchCase="54000012" [style.width]="width">
    <img src="assets/arenas/arena14.png" alt="" [class]="class" *ngSwitchCase="54000013" [style.width]="width">
    <img src="assets/arenas/arena15.png" alt="" [class]="class" *ngSwitchCase="54000014" [style.width]="width">
    <img src="assets/arenas/arena16.png" alt="" [class]="class" *ngSwitchCase="54000015" [style.width]="width">
    <img src="assets/arenas/arena17.png" alt="" [class]="class" *ngSwitchCase="54000016" [style.width]="width">
    <img src="assets/arenas/arena18.png" alt="" [class]="class" *ngSwitchCase="54000017" [style.width]="width">
    <img src="assets/arenas/arena19.png" alt="" [class]="class" *ngSwitchCase="54000018" [style.width]="width">
    <img src="assets/arenas/arena20.png" alt="" [class]="class" *ngSwitchCase="54000019" [style.width]="width">
    <img src="assets/arenas/arena21.png" alt="" [class]="class" *ngSwitchCase="54000020" [style.width]="width">
    <img src="assets/arenas/arena22.png" alt="" [class]="class" *ngSwitchCase="54000031" [style.width]="width">
  </section>
</ng-container>
<ng-container *ngIf="trophies != null">
  <img src="assets/arenas/arena0.png" alt="" [class]="class" *ngIf="trophies == 0" [style.width]="width">
  <img src="assets/arenas/arena1.png" alt="" [class]="class" *ngIf="trophies >= 0 && trophies < 300" [style.width]="width">
  <img src="assets/arenas/arena2.png" alt="" [class]="class" *ngIf="trophies >= 300 && trophies < 600" [style.width]="width">
  <img src="assets/arenas/arena3.png" alt="" [class]="class" *ngIf="trophies >= 600 && trophies < 1000" [style.width]="width">
  <img src="assets/arenas/arena4.png" alt="" [class]="class" *ngIf="trophies >= 1000 && trophies < 1300" [style.width]="width">
  <img src="assets/arenas/arena5.png" alt="" [class]="class" *ngIf="trophies >= 1300 && trophies < 1600" [style.width]="width">
  <img src="assets/arenas/arena6.png" alt="" [class]="class" *ngIf="trophies >= 1600 && trophies < 2000" [style.width]="width">
  <img src="assets/arenas/arena7.png" alt="" [class]="class" *ngIf="trophies >= 2000 && trophies < 2300" [style.width]="width">
  <img src="assets/arenas/arena8.png" alt="" [class]="class" *ngIf="trophies >= 2300 && trophies < 2600" [style.width]="width">
  <img src="assets/arenas/arena9.png" alt="" [class]="class" *ngIf="trophies >= 2600 && trophies < 3000" [style.width]="width">
  <img src="assets/arenas/arena10.png" alt="" [class]="class" *ngIf="trophies >= 3000 && trophies < 3300" [style.width]="width">
  <img src="assets/arenas/arena11.png" alt="" [class]="class" *ngIf="trophies >= 3300 && trophies < 3600" [style.width]="width">
  <img src="assets/arenas/arena12.png" alt="" [class]="class" *ngIf="trophies >= 3600 && trophies < 4000" [style.width]="width">
  <img src="assets/arenas/arena13.png" alt="" [class]="class" *ngIf="trophies >= 4000 && trophies < 4300" [style.width]="width">
  <img src="assets/arenas/arena14.png" alt="" [class]="class" *ngIf="trophies >= 4300 && trophies < 4600" [style.width]="width">
  <img src="assets/arenas/arena15.png" alt="" [class]="class" *ngIf="trophies >= 4600 && trophies < 5000" [style.width]="width">
  <img src="assets/arenas/arena16.png" alt="" [class]="class" *ngIf="trophies >= 5000 && trophies < 5300" [style.width]="width">
  <img src="assets/arenas/arena17.png" alt="" [class]="class" *ngIf="trophies >= 5300 && trophies < 5600" [style.width]="width">
  <img src="assets/arenas/arena18.png" alt="" [class]="class" *ngIf="trophies >= 5600 && trophies < 6000" [style.width]="width">
  <img src="assets/arenas/arena19.png" alt="" [class]="class" *ngIf="trophies >= 6000 && trophies < 6300" [style.width]="width">
  <img src="assets/arenas/arena20.png" alt="" [class]="class" *ngIf="trophies >= 6300 && trophies < 6600" [style.width]="width">
  <img src="assets/arenas/arena21.png" alt="" [class]="class" *ngIf="trophies >= 6600 && trophies < 7000" [style.width]="width">
  <img src="assets/arenas/arena22.png" alt="" [class]="class" *ngIf="trophies >= 7000" [style.width]="width">
</ng-container>
