<section [ngSwitch]="player.arena?.id">
  <img src="assets/arenas/arena0.png" alt="" class="float-right" *ngSwitchCase="0" [style.width]="'13%'">
  <img src="assets/arenas/arena1.png" alt="" class="float-right" *ngSwitchCase="5400000" [style.width]="'13%'">
  <img src="assets/arenas/arena2.png" alt="" class="float-right" *ngSwitchCase="5400001" [style.width]="'13%'">
  <img src="assets/arenas/arena3.png" alt="" class="float-right" *ngSwitchCase="5400002" [style.width]="'13%'">
  <img src="assets/arenas/arena4.png" alt="" class="float-right" *ngSwitchCase="5400003" [style.width]="'13%'">
  <img src="assets/arenas/arena5.png" alt="" class="float-right" *ngSwitchCase="5400004" [style.width]="'13%'">
  <img src="assets/arenas/arena6.png" alt="" class="float-right" *ngSwitchCase="5400005" [style.width]="'13%'">
  <img src="assets/arenas/arena7.png" alt="" class="float-right" *ngSwitchCase="5400006" [style.width]="'13%'">
  <img src="assets/arenas/arena8.png" alt="" class="float-right" *ngSwitchCase="5400007" [style.width]="'13%'">
  <img src="assets/arenas/arena9.png" alt="" class="float-right" *ngSwitchCase="5400008" [style.width]="'13%'">
  <img src="assets/arenas/arena10.png" alt="" class="float-right" *ngSwitchCase="5400009" [style.width]="'13%'">
  <img src="assets/arenas/arena11.png" alt="" class="float-right" *ngSwitchCase="54000010" [style.width]="'13%'">
  <img src="assets/arenas/arena12.png" alt="" class="float-right" *ngSwitchCase="54000011" [style.width]="'13%'">
  <img src="assets/arenas/arena13.png" alt="" class="float-right" *ngSwitchCase="54000012" [style.width]="'13%'">
  <img src="assets/arenas/arena14.png" alt="" class="float-right" *ngSwitchCase="54000013" [style.width]="'13%'">
  <img src="assets/arenas/arena15.png" alt="" class="float-right" *ngSwitchCase="54000014" [style.width]="'13%'">
  <img src="assets/arenas/arena16.png" alt="" class="float-right" *ngSwitchCase="54000015" [style.width]="'13%'">
  <img src="assets/arenas/arena17.png" alt="" class="float-right" *ngSwitchCase="54000016" [style.width]="'13%'">
  <img src="assets/arenas/arena18.png" alt="" class="float-right" *ngSwitchCase="54000017" [style.width]="'13%'">
  <img src="assets/arenas/arena19.png" alt="" class="float-right" *ngSwitchCase="54000018" [style.width]="'13%'">
  <img src="assets/arenas/arena20.png" alt="" class="float-right" *ngSwitchCase="54000019" [style.width]="'13%'">
  <img src="assets/arenas/arena21.png" alt="" class="float-right" *ngSwitchCase="54000020" [style.width]="'13%'">
  <img src="assets/arenas/arena22.png" alt="" class="float-right" *ngSwitchCase="54000031" [style.width]="'13%'">
</section>
