<ng-container *ngIf="trophies >= 0 && trophies < 300">
  <ng-container>Goblin Stadium</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 300 && trophies < 600">
  <ng-container>Bone Pit</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 600 && trophies < 1000">
  <ng-container>Barbarian Bowl</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 1000 && trophies < 1300">
  <ng-container>P.E.K.K.A's Playhouse</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 1300 && trophies < 1600">
  <ng-container>Spell Valley</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 1600 && trophies < 2000">
  <ng-container>Builder's Workshop</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 2000 && trophies < 2300">
  <ng-container>Royal Arena</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 2300 && trophies < 2600">
  <ng-container>Frozen Peak</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 2600 && trophies < 3000">
  <ng-container>Jungle Arena</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 3000 && trophies < 3300">
  <ng-container>Hog Mountain</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 3300 && trophies < 3600">
  <ng-container>Electro Valley</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 3600 && trophies < 4000">
  <ng-container>Spooky Town</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 4000 && trophies < 4300">
  <ng-container>Challenger I</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 4300 && trophies < 4600">
  <ng-container>Challenger II</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 4600 && trophies < 5000">
  <ng-container>Challenger III</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 5000 && trophies < 5300">
  <ng-container>Master I</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 5300 && trophies < 5600">
  <ng-container>Master II</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 5600 && trophies < 6000">
  <ng-container>Master III</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 6000 && trophies < 6300">
  <ng-container>Champion</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 6300 && trophies < 6600">
  <ng-container>Grand Champion</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 6600 && trophies < 7000">
  <ng-container>Royal Champion</ng-container>
</ng-container>
<ng-container *ngIf="trophies >= 7000">
  <ng-container>Ultimate Champion</ng-container>
</ng-container>
